*.suo
*.user
*.ReSharper
_ReSharper*
*.DotSettings
*.dotCover
*.orig
bin/
obj/
Debug/
Release/
ClientBin/
**/packages/*
*.log
dist/
node_modules/
bower_components/
*.ncrunchproject
_NCrunch_PS.Identity/
*.ncrunchsolution
*.mdf
*.ldf
*.crunchsolution.cache
*.un~
*.swp
.vs/